/*==================== 
==== TAGS STLYING ====
====================*/
body {
    background-color: rgb(255, 250, 245);
}

h1 {
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin-top: 10px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

/*=======================
==== HEADING STYLING ==== 
=======================*/
.heading {
    margin: auto;
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/*=======================
==== GALLERY STYLING ====
=======================*/
.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.image-item img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 8px rgba(000,000,000,0.2);
    cursor: pointer;
}

/*=====================
==== POPUP STYLING ====
=====================*/
.popup-bg {
    position: fixed;
    display: flex;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(000,000,000,0.5);
    visibility: hidden;
}

.popup-container {
    max-height: 95vh;
    margin: 10px;
    background-color: rgb(255,255,255);
    border-radius: 20px;
    border-color: white;
    border-width: 20px;
    border-style: solid;
    padding: 0px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: auto;
    white-space: none;
}

.show { /* Makes the recipe appear with a fade in aniamtion */
    visibility: visible;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}
 
@-webkit-keyframes fadeIn { /* Creates fade in aniamtion */
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn { /* Creates fade in aniamtion */
    from {opacity: 0;}
    to {opacity: 1;}
}

.material-icons { /* Exit icon in recipe container */
    float: right;
    color: black;
    background-color: white;
    cursor: pointer;
}

.popup-bg-img { /* Add image to the top of the recipe popup */
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.recipe-details { /* Recipe details - cooking time, calories, difficulty */
    list-style-type: none;
    display: flex;
    padding: 0;
}

.recipe-details li {
    display: inline;
    flex-grow: 1;
    text-align: center;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    border-style: solid;
    padding-bottom: 5px;
}

/*======================
==== FOOTER STYLING ====
======================*/
footer {
    height: 100px;
}

/*============================================
==== When scaled up to tablet and desktop ====
============================================*/
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    .container {
        align-items: center;
    }
    
    .image-gallery {
      flex-direction: row;
    }

    .popup-container {
        width: 40%;
        min-width: 600px;
        max-width: 700px;
        max-height: 85vh;
        margin: auto;
    }
}